**/default.mode1v3
**/default.pbxuser
**/default.perspectivev3
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/*.xcuserstate
**/xcuserdata/
**.orig.*
*.xccheckout
**/*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/ephemeral/
**/ServiceDefinitions.json
**/Flutter/app.flx
**/Flutter/app.zip
**/Flutter/flutter_assets/
**/Flutter/flutter_export_environment.sh
**/Pods/
**/.symlinks/
**/profile
**/.Flutter.plist
